@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@600;700;800&display=swap");

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  -webkit-text-stroke: 1px black;
}

div.contenedor {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://wallpaper.dog/large/5568071.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -5;
}

div.contenidoHome {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*NAVBAR STYLES */
.navbar-default {
  padding: 10px;
  z-index: 10;
  background: transparent;
}

.bi-person-circle {
  width: 4vw;
  margin-right: 3vh;
}

img.logo {
  width: 6vw;
}

@media only screen and (max-width: 978px) {
  img.logo {
    width: 10vw;
  }
  .navLink {
    margin-left: 2vw;
  }
  .bi-person-circle {
    width: 9vw;
  }
  .brand h2 {
    display: none;
  }
}
.navLink {
  margin-right: 3vh;
  text-decoration: none;
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
  color: white;
}

.navLink:hover {
  color: rgba(255, 255, 255, 0.45);
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand h2 {
  font-size: 2.5vh;
  font-weight: 800;
}
/*FOOTER STYLES */

.footer #button {
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: rgba(255, 255, 255, 0.15) 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #3a3a3a 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 3em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}

.footer .navLink {
  font-size: 2em;
  margin-left: 2vh;
}
.footer .contenidoFooter img {
  width: 90px;
}
.footer .contenidoFooter h1 {
  font-size: 3em;
}
/* CAROUSEL STYLES */

.carouselCities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 2vh;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.slidePadre {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.slideHijo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  height: 45%;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}

.slideHijo:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 900px) {
  .slidePadre {
    height: 200vh;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .slideHijo {
    width: 95%;
    height: 50vh;
    margin: 1vh 1vh;
  }
}
.carouselTitle {
  font-weight: 900;
  text-align: center;
}

/* PAGE 404 NOT FOUND */

.notFound404 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btnHome {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btnHome span {
  position: relative;
  z-index: 1;
}

.btnHome:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btnHome:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
/*CITIES */
div.citiesContent {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: #161748;
  z-index: 1;
}
.containerCities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px auto;
  overflow: hidden;
  justify-content: center;
}

.cities-grid {
  position: relative;
  float: left;
  overflow: hidden;
  background: rgba(132, 88, 179, 0.7);
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  max-width: 40%;
  min-width: 350px;
  max-height: 300px;
}

.cities-grid-image {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.2;
}

.cities-grid-content {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cities-grid-content::before,
.cities-grid-content::after {
  pointer-events: none;
}

.cities-grid-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.cities-grid-title {
  letter-spacing: -1px;
  font-weight: 300;
  margin: 0;
  padding: 0.25em 0;
  line-height: 1;
}

.cities-grid-title span {
  font-weight: 800;
}

.cities-tag {
  display: inline-block;
  font-size: 0.5em;
  padding: 0.5em;
  background: #fff;
  color: #000;
}

.cities-grid h2,
.cities-grid p {
  margin: 0;
}

.cities-grid p {
  letter-spacing: 1px;
  font-size: 68.5%;
  height: 2.25em;
  overflow: hidden;
}

.effect-image {
  max-width: none;
  width: calc(100% + 50px);
  opacity: 0.2;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

.effect-target {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

.effect-target {
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

.effect-text {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
  transition: opacity 0.2s, transform 0.35s, -webkit-transform 0.35s;
}

.effect-move:hover .effect-image,
.effect-move:hover .effect-text {
  opacity: 1;
}

.effect-move:hover .effect-target,
.effect-move:hover .effect-image {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.effect-move:hover .effect-text {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

.searchBar {
  display: flex;
  padding-top: 3vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #161748;
}

.searchform {
  display: flex;

  margin: 0;
  overflow: hidden;
  width: 50%;
}
label,
input {
  vertical-align: baseline;
  color: #737373;
}
label {
  margin: 0.125em 0.125em 0 0;
  float: right;
}
input[type="search"] {
  border: 2px solid #d0bdf4;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 22px "Montserrat", sans-serif;
  font-weight: 800;
  padding: 0.125em 0.225em;
  width: 85%;
  float: left;
}
input[type="search"]:focus {
  color: #8458b3;
  border-color: #8458b3;
  outline: none;
}

/*HERO COMPONENT*/

div.hero {
  width: 100%;
  height: 100vh;
  background-color: black;
}
div.hero .carousel-control-next-icon {
  display: none !important;
}
div.hero .carousel-control-prev-icon {
  display: none !important;
}
div.hero .carousel-indicators {
  display: none !important;
}

.caption1,
.caption2,
.caption3 {
  width: 100%;
  height: 100vh;
}

.covertext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 170px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.callToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.covertext .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.subtitle {
  text-align: center;

  font-weight: 900;
}

/*HEADER STYLES */

.header {
  position: relative;
  background: url(https://free4kwallpapers.com/uploads/originals/2020/02/03/maldives-beach-wallpaper.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position-y: -100px, center;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.header h1 {
  font-size: 70px;
  line-height: 1.3;
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
}
.header span {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 60px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }
}

/*LOADER */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* CITY STYLES*/

.contentCity {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
